@model Catalyst.Web.Models.FormData.NewPerson

@using (Html.BeginForm("DoNewPerson", "People", FormMethod.Post, new { @id = "new-person-form"}))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(x => x.FirstName, new { @class = "control-label" }) 
        @Html.ValidationMessageFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "First name" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
        @Html.ValidationMessageFor(x => x.LastName)
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Last name" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Birthday, new { @class = "control-label" })
        @Html.ValidationMessageFor(x => x.Birthday)
        <div id="birthday-picker"></div>
        @Html.HiddenFor(x => x.Birthday)
    </div>
    <div class="form-group">
        <div class="pull-right">
            <input type="submit" class="btn btn-default" value="Save" />
            <button type="button" class="btn btn-default cancel">Cancel</button>
        </div>
    </div>
}
