@model Catalyst.Web.Models.Home

<div class="row">
    <div class="col-sm-3">
        @Html.Partial("~/Views/Dashboard/RichText.cshtml", Model.Instructions)
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                @Html.Action("RecentlyAdded", "Dashboard")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.Action("Placeholder", "Dashboard", new { apiRouteId = Catalyst.Web.Constants.AjaxRouteAliases.CompanySnapshot })
            </div>
            <div class="col-sm-4">
                @Html.Action("Placeholder", "Dashboard", new { apiRouteId = Catalyst.Web.Constants.AjaxRouteAliases.DevDoNothing })
            </div>
            <div class="col-sm-4">
                @Html.Action("Placeholder", "Dashboard", new { apiRouteId = Catalyst.Web.Constants.AjaxRouteAliases.DevDoNothing })
            </div>
        </div>
    </div>
</div>
